<h1><%= t('.title', resource: resource_name.to_s.humanize) %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="row">
    <div class="col-12 col-md-6 col-6">
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, required: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-6">
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, required: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-6">
      <div class="form-group">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, required: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-6">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: 'email', class: 'form-control' %>
      </div>
    </div>
    <div class="col-12">
      
      <%= f.fields_for :address, resource.address || resource.build_address do |addr|%>
        <fieldset>
          <legend style="font-size: 18px;">Address:</legend>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
              <%= addr.label :building_number do%>
                Building / Flat # <i class="fas fa-asterisk required_field"></i>
              <% end -%>
              <%= addr.text_field :building_number, class: "form-control", required: true%>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
              <%= addr.label :street do%>
                Street
              <% end -%>
              <%= addr.text_field :street, class: "form-control"%>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
              <%= addr.label :locality do%>
                Locality <i class="fas fa-asterisk required_field"></i>
              <% end -%>
              <%= addr.text_field :locality, class: "form-control"%>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
              <%= addr.label :landmark do%>
                Landmark
              <% end -%>
              <%= addr.text_field :landmark, class: "form-control"%>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
              <%= addr.label :city do%>
                City <i class="fas fa-asterisk required_field"></i>
              <% end -%>
              <%= addr.text_field :city, class: "form-control", required: true%>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
              <%= addr.label :state do%>
                State <i class="fas fa-asterisk required_field"></i>
              <% end -%>
              <%= addr.text_field :state, class: "form-control", required: true%>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
              <%= addr.label :pincode do%>
                Pincode  <i class="fas fa-asterisk required_field"></i>
              <% end -%>
              <%= addr.text_field :pincode, class: "form-control", required: true%>
            </div>
          </div>
        </fieldset>
      <% end -%>
    </div>
    <div class="col-12">
      <h5>Change Password</h5>
    </div>
    <div class="col-12 col-md-6 col-6">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

        <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
      </div>
    </div>
    <div class="col-12 col-md-6 col-6">

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-6">
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>

        <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <%= f.submit t('.update'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<p><%= t('.unhappy') %>? <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %>.</p>

<%= link_to t('.back'), :back %>
