<div class="row">
  <div class="col-12">
    <%= link_to admin_restaurants_path, class: "btn btn-info btn-sm mb-3 float-right" do%>
    <em class="fas fa-arrow-left"></em> Back
    <% end -%>
    
  </div>
</div>
<%= nested_form_for([:admin, @restaurant]) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
      <%= form.label :name do %>
        Restaurant Name <i class="fas fa-asterisk required_field"></i>
      <% end -%>
      <%= form.text_field :name , class: "form-control", required: true%>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
      <%= form.label :email do %>
        Restaurant Email <i class="fas fa-asterisk required_field"></i>
      <% end -%>
      <%= form.email_field :email, class: "form-control", required: true %>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
      <%= form.label :number do %>
        Restaurant Code <i class="fas fa-asterisk required_field"></i>
      <% end -%>
      <%= form.text_field :number, class: "form-control", required: true %>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <label>Website</label><i class="fas fa-asterisk required_field"></i>
      <%= form.url_field :website, class: "form-control" %>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
      <%= form.label :contact_person do %>
        Contact Name <i class="fas fa-asterisk required_field"></i>
      <% end -%>
      <%= form.text_field :contact_person, class: "form-control", required: true %>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
      <%= form.label :contact_number do %>
        Phone Number <i class="fas fa-asterisk required_field"></i>
      <% end -%>
      <%= form.text_field :contact_number, class: "form-control", required: true %>
    </div>
    <div class="col-12">
      <%= form.fields_for :branches, @branch do |branch|%>
        <%branch_obj = branch.object%>
        <%= branch.hidden_field :is_head_branch, value: true%>
        <%= branch.hidden_field :name, value: "Head Office"%>
        <%= branch.fields_for :address, branch_obj.address || branch_obj.build_address do |addr|%>
          <fieldset>
            <legend style="font-size: 18px;">Address:</legend>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <%= addr.label :building_number do%>
                  Building / Flat # <i class="fas fa-asterisk required_field"></i>
                <% end -%>
                <%= addr.text_field :building_number, class: "form-control", required: true%>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <%= addr.label :street do%>
                  Street
                <% end -%>
                <%= addr.text_field :street, class: "form-control"%>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <%= addr.label :locality do%>
                  Locality <i class="fas fa-asterisk required_field"></i>
                <% end -%>
                <%= addr.text_field :locality, class: "form-control"%>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <%= addr.label :landmark do%>
                  Landmark
                <% end -%>
                <%= addr.text_field :landmark, class: "form-control"%>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <%= addr.label :city do%>
                  City <i class="fas fa-asterisk required_field"></i>
                <% end -%>
                <%= addr.text_field :city, class: "form-control", required: true%>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <%= addr.label :state do%>
                  State <i class="fas fa-asterisk required_field"></i>
                <% end -%>
                <%= addr.text_field :state, class: "form-control", required: true%>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <%= addr.label :pincode do%>
                  Pincode  <i class="fas fa-asterisk required_field"></i>
                <% end -%>
                <%= addr.text_field :pincode, class: "form-control", required: true%>
              </div>
            </div>
          </fieldset>
        <% end -%>
      <% end -%>
    </div>
    <div class="col-12">
      <%= form.submit "Submit", class: "btn btn-success btn-sm" %>
    </div>
  </div>
<% end %>
